/*
    95vh = 95% of viewport height 
    .. to get out of css file and into main file
    background-size cover will try to fit the element of the box within the width of viewport
    position top ensures image stays at the top of the container, so the top of the image stays the same even if the size of the page changes
*/
.header {
  height: 95vh;
  background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
  //dot per inch - resolution of apple retina screen
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  /* Put logo in top left, relative to header */
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  
  /* Width will scale automatically according to height*/
  &__logo {
    height: 3.5rem;
  }
  
  /* 
    Centering main text
    Translate moves everything to properly center it
    Absolute positioning is in relation to parent element header
  */
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}